.left {
  float: left;
}
.right {
  float: right;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.container-fluid {
  height: 100%;
  padding: 0;
}
.row {
  height: 100%;
  margin: 0;
}
.row_custom {
  padding: 0 40px;
}
.col {
  height: 100%;
  padding: 0;
}
